src/main/java/com/editor/domain/program/program.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PcbDataFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LastEditing">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SetupMachine">
                                <xs:complexType>
                                    <xs:attribute name="No" type="Wstring" use="required"/>
                                    <xs:attribute name="Name" type="Wstring" use="required"/>
                                    <xs:attribute name="ID" type="Wstring" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Date" type="Wstring" use="required"/>
                        <xs:attribute name="Time" type="Wstring" use="required"/>
                        <xs:attribute name="VersionNo" type="Wstring" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Machine">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Property">
                                <xs:complexType>
                                    <xs:attribute name="LastEditingDate" type="Wstring" use="required"/>
                                    <xs:attribute name="LastEditingTime" type="Wstring" use="required"/>
                                    <xs:attribute name="VersionNo" type="Wstring" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Production">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ProductGroup">
                                            <xs:complexType>
                                                <xs:attribute name="No" type="Wstring" use="required"/>
                                                <xs:attribute name="Lane" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Board">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Board_000">
                                            <xs:complexType>
                                                <xs:attribute name="OriginX" type="Wstring" use="required"/>
                                                <xs:attribute name="OriginY" type="Wstring" use="required"/>
                                                <xs:attribute name="SizeX" type="Wstring" use="required"/>
                                                <xs:attribute name="SizeY" type="Wstring" use="required"/>
                                                <xs:attribute name="BlockCount" type="Wstring" use="required"/>
                                                <xs:attribute name="SizeZ" type="Wstring" use="required"/>
                                                <xs:attribute name="PcbWarpHeight" type="Wstring" use="required"/>
                                                <xs:attribute name="TransOffsetU" type="Wstring" use="required"/>
                                                <xs:attribute name="TransOffsetT1" type="Wstring" use="required"/>
                                                <xs:attribute name="TransOffsetT2" type="Wstring" use="required"/>
                                                <xs:attribute name="BoardStandardCT" type="Wstring" use="required"/>
                                                <xs:attribute name="BoardStandardPlanTime" type="Wstring"
                                                              use="required"/>
                                                <xs:attribute name="CarriedPosCheck" type="Wstring" use="required"/>
                                                <xs:attribute name="CarriedPosCheckValue" type="Wstring"
                                                              use="required"/>
                                                <xs:attribute name="CarriedPosCheckDetail" type="Wstring"
                                                              use="required"/>
                                                <xs:attribute name="CarriedPosCheckMark" type="Wstring" use="required"/>
                                                <xs:attribute name="CarriedPosCheckMarkX" type="Wstring"
                                                              use="required"/>
                                                <xs:attribute name="CarriedPosCheckMarkY" type="Wstring"
                                                              use="required"/>
                                                <xs:attribute name="BoardEdgeOffsetDistanceLowerLeft" type="Wstring"
                                                              use="required"/>
                                                <xs:attribute name="BoardEdgeOffsetDistanceLowerRight" type="Wstring"
                                                              use="required"/>
                                                <xs:attribute name="BoardEdgeOffsetDistanceUpperLeft" type="Wstring"
                                                              use="required"/>
                                                <xs:attribute name="BoardEdgeOffsetDistanceUpperRight" type="Wstring"
                                                              use="required"/>
                                                <xs:attribute name="MountStagePosition" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Board_101">
                                            <xs:complexType>
                                                <xs:attribute name="PcbFixWay" type="Wstring" use="required"/>
                                                <xs:attribute name="ConvPreFixTimer" type="Wstring" use="required"/>
                                                <xs:attribute name="TransHeight" type="Wstring" use="required"/>
                                                <xs:attribute name="ConvTimer" type="Wstring" use="required"/>
                                                <xs:attribute name="YSpeed" type="Wstring" use="required"/>
                                                <xs:attribute name="TransMode" type="Wstring" use="required"/>
                                                <xs:attribute name="ConvSpeed" type="Wstring" use="required"/>
                                                <xs:attribute name="PartHeight" type="Wstring" use="required"/>
                                                <xs:attribute name="ConvTransWay" type="Wstring" use="required"/>
                                                <xs:attribute name="TransferOneByOne" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Board_102">
                                            <xs:complexType>
                                                <xs:attribute name="MountExec" type="Wstring" use="required"/>
                                                <xs:attribute name="VacCheck" type="Wstring" use="required"/>
                                                <xs:attribute name="Alignment" type="Wstring" use="required"/>
                                                <xs:attribute name="CoPlanarity" type="Wstring" use="required"/>
                                                <xs:attribute name="PrePick" type="Wstring" use="required"/>
                                                <xs:attribute name="RetrySeq" type="Wstring" use="required"/>
                                                <xs:attribute name="SkipRetry" type="Wstring" use="required"/>
                                                <xs:attribute name="PositionFreeSetup" type="Wstring" use="required"/>
                                                <xs:attribute name="TrayPre" type="Wstring" use="required"/>
                                                <xs:attribute name="FixedComp" type="Wstring" use="required"/>
                                                <xs:attribute name="Correct3A" type="Wstring" use="required"/>
                                                <xs:attribute name="InterfereAvoidance" type="Wstring" use="required"/>
                                                <xs:attribute name="MountSequenceMethod" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Board_103">
                                            <xs:complexType>
                                                <xs:attribute name="BadSortA" type="Wstring" use="required"/>
                                                <xs:attribute name="BadSortB" type="Wstring" use="required"/>
                                                <xs:attribute name="BadSortC" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Board_104">
                                            <xs:complexType>
                                                <xs:attribute name="Comment" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Board_105">
                                            <xs:complexType>
                                                <xs:attribute name="PreDisp" type="Wstring" use="required"/>
                                                <xs:attribute name="DotDisp" type="Wstring" use="required"/>
                                                <xs:attribute name="DotCheck" type="Wstring" use="required"/>
                                                <xs:attribute name="Refresh" type="Wstring" use="required"/>
                                                <xs:attribute name="PosCorDisp" type="Wstring" use="required"/>
                                                <xs:attribute name="PosCorPreDisp" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Board_106">
                                            <xs:complexType>
                                                <xs:attribute name="SpecialFunction" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Board_107">
                                            <xs:complexType>
                                                <xs:attribute name="PushUpPinSetupManagement" type="Wstring"
                                                              use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Board_108">
                                            <xs:complexType>
                                                <xs:attribute name="HeadA1" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA2" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA3" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA4" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA5" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA6" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA7" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA8" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA9" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA10" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA11" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA12" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA13" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA14" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA15" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadA16" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Board_109">
                                            <xs:complexType>
                                                <xs:attribute name="HeadB1" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB2" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB3" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB4" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB5" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB6" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB7" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB8" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB9" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB10" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB11" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB12" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB13" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB14" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB15" type="Wstring" use="required"/>
                                                <xs:attribute name="HeadB16" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Board_110">
                                            <xs:complexType>
                                                <xs:attribute name="TempControlA1" type="Wstring" use="required"/>
                                                <xs:attribute name="TempControlA2" type="Wstring" use="required"/>
                                                <xs:attribute name="TempControlA3" type="Wstring" use="required"/>
                                                <xs:attribute name="TempControlA4" type="Wstring" use="required"/>
                                                <xs:attribute name="TempControlA5" type="Wstring" use="required"/>
                                                <xs:attribute name="TempControlA6" type="Wstring" use="required"/>
                                                <xs:attribute name="TempControlA7" type="Wstring" use="required"/>
                                                <xs:attribute name="TempControlA8" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Board_111">
                                            <xs:complexType>
                                                <xs:attribute name="TargetTempA1" type="Wstring" use="required"/>
                                                <xs:attribute name="TargetTempA2" type="Wstring" use="required"/>
                                                <xs:attribute name="TargetTempA3" type="Wstring" use="required"/>
                                                <xs:attribute name="TargetTempA4" type="Wstring" use="required"/>
                                                <xs:attribute name="TargetTempA5" type="Wstring" use="required"/>
                                                <xs:attribute name="TargetTempA6" type="Wstring" use="required"/>
                                                <xs:attribute name="TargetTempA7" type="Wstring" use="required"/>
                                                <xs:attribute name="TargetTempA8" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Fiducial">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FidUse">
                                            <xs:complexType>
                                                <xs:attribute name="Pcb" type="Wstring" use="required"/>
                                                <xs:attribute name="Blk" type="Wstring" use="required"/>
                                                <xs:attribute name="Local" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PcbFid">
                                            <xs:complexType>
                                                <xs:attribute name="X1" type="Wstring" use="required"/>
                                                <xs:attribute name="Y1" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark1" type="Wstring" use="required"/>
                                                <xs:attribute name="X2" type="Wstring" use="required"/>
                                                <xs:attribute name="Y2" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark2" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="BlkFid">
                                            <xs:complexType>
                                                <xs:attribute name="X1" type="Wstring" use="required"/>
                                                <xs:attribute name="Y1" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark1" type="Wstring" use="required"/>
                                                <xs:attribute name="X2" type="Wstring" use="required"/>
                                                <xs:attribute name="Y2" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark2" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" name="LclFid">
                                            <xs:complexType>
                                                <xs:attribute name="No" type="Wstring" use="required"/>
                                                <xs:attribute name="X1" type="Wstring" use="required"/>
                                                <xs:attribute name="Y1" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark1" type="Wstring" use="required"/>
                                                <xs:attribute name="X2" type="Wstring" use="required"/>
                                                <xs:attribute name="Y2" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark2" type="Wstring" use="required"/>
                                                <xs:attribute name="Type" type="Wstring" use="required"/>
                                                <xs:attribute name="Skip" type="Wstring" use="required"/>
                                                <xs:attribute name="Comment" type="Wstring" use="required"/>
                                                <xs:attribute name="OrgBlk" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BadMark">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="BadUse">
                                            <xs:complexType>
                                                <xs:attribute name="Pcb" type="Wstring" use="required"/>
                                                <xs:attribute name="Blk" type="Wstring" use="required"/>
                                                <xs:attribute name="Local" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PcbBad">
                                            <xs:complexType>
                                                <xs:attribute name="X" type="Wstring" use="required"/>
                                                <xs:attribute name="Y" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="BlkBad">
                                            <xs:complexType>
                                                <xs:attribute name="X" type="Wstring" use="required"/>
                                                <xs:attribute name="Y" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Offset">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Repeat">
                                            <xs:complexType>
                                                <xs:attribute name="No" type="Wstring" use="required"/>
                                                <xs:attribute name="X" type="Wstring" use="required"/>
                                                <xs:attribute name="Y" type="Wstring" use="required"/>
                                                <xs:attribute name="R" type="Wstring" use="required"/>
                                                <xs:attribute name="Exec" type="Wstring" use="required"/>
                                                <xs:attribute name="Comment" type="Wstring" use="required"/>
                                                <xs:attribute name="OrgBlk" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Mounts">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Mount">
                                            <xs:complexType>
                                                <xs:attribute name="No" type="Wstring" use="required"/>
                                                <xs:attribute name="X" type="Wstring" use="required"/>
                                                <xs:attribute name="Y" type="Wstring" use="required"/>
                                                <xs:attribute name="R" type="Wstring" use="required"/>
                                                <xs:attribute name="Fid" type="Wstring" use="required"/>
                                                <xs:attribute name="Bad" type="Wstring" use="required"/>
                                                <xs:attribute name="Comp" type="Wstring" use="required"/>
                                                <xs:attribute name="Group" type="Wstring" use="required"/>
                                                <xs:attribute name="Opt" type="Wstring" use="required"/>
                                                <xs:attribute name="Opt2" type="Wstring" use="required"/>
                                                <xs:attribute name="Head" type="Wstring" use="required"/>
                                                <xs:attribute name="PickRod" type="Wstring" use="required"/>
                                                <xs:attribute name="MountRod" type="Wstring" use="required"/>
                                                <xs:attribute name="Nozzle" type="Wstring" use="required"/>
                                                <xs:attribute name="Exec" type="Wstring" use="required"/>
                                                <xs:attribute name="Comment" type="Wstring" use="required"/>
                                                <xs:attribute name="OrgBlk" type="Wstring" use="required"/>
                                                <xs:attribute name="MaskDX" type="Wstring" use="required"/>
                                                <xs:attribute name="MaskDY" type="Wstring" use="required"/>
                                                <xs:attribute name="SeqOrder" type="Wstring" use="required"/>
                                                <xs:attribute name="GroupID" type="Wstring" use="required"/>
                                                <xs:attribute name="GrpOrder" type="Wstring" use="required"/>
                                                <xs:attribute name="CodeScan" type="Wstring" use="required"/>
                                                <xs:attribute name="MntStage" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Programs">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Program">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Commands"/>
                                                    <xs:element name="LocalPoints"/>
                                                    <xs:element name="Watches"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="GlobalPoints"/>
                            <xs:element name="PreDispenses"/>
                            <xs:element name="DotDispenses"/>
                            <xs:element name="PosCorDispenses"/>
                            <xs:element name="Parts">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Part">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:choice maxOccurs="unbounded">
                                                        <xs:element name="Part_001">
                                                            <xs:complexType>
                                                                <xs:attribute name="PartsName" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Comment" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DatabaseNo" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LibraryUse" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LibraryFolder" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LibraryPath" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_002">
                                                            <xs:complexType>
                                                                <xs:attribute name="ShapeType" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Package" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="FdrType" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="CarrierTape" type="Wstring"
                                                                              use="optional"/>
                                                                <xs:attribute name="ReelDiameter" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="BitFlags" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_062">
                                                            <xs:complexType>
                                                                <xs:attribute name="Algorithm" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="BaseVType" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option1" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option2" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option3" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option4" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_003">
                                                            <xs:complexType>
                                                                <xs:attribute name="Setno" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Definition" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="XPos" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="YPos" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="FdrIdxStep" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="FdrIdxSpeed" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="FdrIdxSpeedEx" type="Wstring"
                                                                              use="optional"/>
                                                                <xs:attribute name="FeederTimerOffset" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="TapeEndDetection" type="Wstring"
                                                                              use="optional"/>
                                                                <xs:attribute name="FeederKnotSkip" type="Wstring"
                                                                              use="optional"/>
                                                                <xs:attribute name="FeederKnotSpeed" type="Wstring"
                                                                              use="optional"/>
                                                                <xs:attribute name="Optimize" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PartsGroupNo" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="FixCmp" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="SwFdr" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PitchEffect" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Correct3A" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="UnitNo" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PickPosCheck" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PickToleranceX" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PickToleranceY" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PickToleranceR" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PickToleranceOffsetX" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PickToleranceOffsetY" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="BoardDataTuning" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="ToleranceTuning" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_004">
                                                            <xs:complexType>
                                                                <xs:attribute name="FreeSpace1" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="FreeSpace2" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_012">
                                                            <xs:complexType>
                                                                <xs:attribute name="BodyX" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="BodyY" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="BodyZ" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MoldX" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MoldY" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MoldZ" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_013">
                                                            <xs:complexType>
                                                                <xs:attribute name="BodyX" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="BodyY" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="BodyZ" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MoldX" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MoldY" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MoldZ" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Thicknesschk" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_028">
                                                            <xs:complexType>
                                                                <xs:attribute name="RlrOffsetE" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="RlrWidth" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LeadNumE" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LeadPitchE" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LeadWidthE" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LeadLengthE" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_018">
                                                            <xs:complexType>
                                                                <xs:attribute name="PolMark" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PolMarkPos" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PackSizeX" type="Wstring"
                                                                              use="optional"/>
                                                                <xs:attribute name="PackSizeY" type="Wstring"
                                                                              use="optional"/>
                                                                <xs:attribute name="PackOffsetX" type="Wstring"
                                                                              use="optional"/>
                                                                <xs:attribute name="PackOffsetY" type="Wstring"
                                                                              use="optional"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_025">
                                                            <xs:complexType>
                                                                <xs:attribute name="RlrOffset" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="RlrWidth" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LeadWidth" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LeadLength" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_033">
                                                            <xs:complexType>
                                                                <xs:attribute name="LeadNumN" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LeadPitchN" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_034">
                                                            <xs:complexType>
                                                                <xs:attribute name="LeadNumS" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LeadPitchS" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_070">
                                                            <xs:complexType>
                                                                <xs:attribute name="Alignment" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="AlignRefSubMlt" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="AlignRefSubSgl" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="AlignRefSubScan" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="AutoThreshold" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Threshold" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Tolerance" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="SearchArea" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DatumAngle" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MultiMACS" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="OffsetRec" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="RecognitionOffsetZ" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_021">
                                                            <xs:complexType>
                                                                <xs:attribute name="RlrOffset" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_071">
                                                            <xs:complexType>
                                                                <xs:attribute name="Alignment" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="AlignRefSubMlt" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="AlignRefSubSgl" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="AlignRefSubScan" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="AutoThreshold" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Threshold" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Tolerance" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="SearchArea" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DatumAngle" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="CompIntensity" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MultiMACS" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="OffsetRec" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="RecognitionOffsetZ" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_072">
                                                            <xs:complexType>
                                                                <xs:attribute name="LightSetting" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LightLevel" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_074">
                                                            <xs:complexType>
                                                                <xs:attribute name="CoplaLevel" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="CoplaThreshold" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_076">
                                                            <xs:complexType>
                                                                <xs:attribute name="LightMode" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MainLightLevel" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="CoaxsLightLevel" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="SideLightLevel" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_080">
                                                            <xs:complexType>
                                                                <xs:attribute name="Nozzle" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="XYSpeed" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="ConvYSpeed" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="RotarySpeed" type="Wstring"
                                                                              use="optional"/>
                                                                <xs:attribute name="FdrAngle" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="VacChk" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="CorrectPos" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Action" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PickStart" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Dump" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Retry" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_081">
                                                            <xs:complexType>
                                                                <xs:attribute name="PckHeight" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PckTimer" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PckSpeed" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PckVLevel" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PckSingleDir" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PckCtrlDown" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PckCtrlUp" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="NozzleTouchHeight" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_083">
                                                            <xs:complexType>
                                                                <xs:attribute name="MntHeight" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MntTimer" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MntSpeed" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MntPLevel" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MntSingleDir" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MntCtrlDown" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MntCtrlUp" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MntInsertLength" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MntInsertShortDistance"
                                                                              type="Wstring" use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_300">
                                                            <xs:complexType>
                                                                <xs:attribute name="Pck2ndSrvDown" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Pck2ndSrvUp" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_301">
                                                            <xs:complexType>
                                                                <xs:attribute name="Mnt2ndSrvDown" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Mnt2ndSrvUp" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_302">
                                                            <xs:complexType>
                                                                <xs:attribute name="PckForceExist" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="PckForceTarget" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_303">
                                                            <xs:complexType>
                                                                <xs:attribute name="MntForceExist" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="MntForceTarget" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_200">
                                                            <xs:complexType>
                                                                <xs:attribute name="DspCType" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DNozzle" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Dtimer" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DXpos" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DYpos" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DspAngle" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DXpt" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DYpt" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DXtime" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DYtime" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_500">
                                                            <xs:complexType>
                                                                <xs:attribute name="Category" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="DipAct" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="StampAct" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Marking" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_501">
                                                            <xs:complexType>
                                                                <xs:attribute name="Option1StationNo" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option1WaitVision" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option1DownSequenceAir"
                                                                              type="Wstring" use="required"/>
                                                                <xs:attribute name="Option12ndSrvDown" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option1DownSpeed" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option1LowendHeight" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option1LowendTimer" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option1UpSequenceAir" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option12ndSrvUp" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option1UpSpeed" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_502">
                                                            <xs:complexType>
                                                                <xs:attribute name="Option1ForceExist" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="Option1ForceTarget" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_520">
                                                            <xs:complexType>
                                                                <xs:attribute name="SVUse" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="SVBringBack" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="SVBodyLimit" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="SVReverseCheck" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Part_023">
                                                            <xs:complexType>
                                                                <xs:attribute name="RlrOffset" type="Wstring"
                                                                              use="required"/>
                                                                <xs:attribute name="LeadWidth" type="Wstring"
                                                                              use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="ExLights">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element maxOccurs="unbounded" name="ExLight">
                                                                        <xs:complexType>
                                                                            <xs:attribute name="No" type="Wstring"
                                                                                          use="required"/>
                                                                            <xs:attribute name="ExLightLevel"
                                                                                          type="Wstring"
                                                                                          use="required"/>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:choice>
                                                </xs:sequence>
                                                <xs:attribute name="No" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Marks">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Mark">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Mark_001">
                                                        <xs:complexType>
                                                            <xs:attribute name="MarkName" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="Comment" type="Wstring" use="required"/>
                                                            <xs:attribute name="DatabaseNo" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="LibraryUse" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="LibraryFolder" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="LibraryPath" type="Wstring"
                                                                          use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Mark_011">
                                                        <xs:complexType>
                                                            <xs:attribute name="MarkType" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="Shape" type="Wstring" use="required"/>
                                                            <xs:attribute name="Exec" type="Wstring" use="required"/>
                                                            <xs:attribute name="OutSize" type="Wstring" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Mark_100">
                                                        <xs:complexType>
                                                            <xs:attribute name="Surface" type="Wstring" use="required"/>
                                                            <xs:attribute name="Threshold" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="Tolerance" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="SearchAreaX" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="SearchAreaY" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="Sequence" type="Wstring"
                                                                          use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Mark_200">
                                                        <xs:complexType>
                                                            <xs:attribute name="LightingOuter" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="LightingInner" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="LightingDrop" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="LightingIROuter" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="LightingIRInner" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="FilterInner" type="Wstring"
                                                                          use="required"/>
                                                            <xs:attribute name="FilterOuter" type="Wstring"
                                                                          use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="No" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="CodeScan">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="CodeScanUse">
                                            <xs:complexType>
                                                <xs:attribute name="Pcb" type="Wstring" use="required"/>
                                                <xs:attribute name="Blk" type="Wstring" use="required"/>
                                                <xs:attribute name="Local" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PcbCodeScan">
                                            <xs:complexType>
                                                <xs:attribute name="X1" type="Wstring" use="required"/>
                                                <xs:attribute name="Y1" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark1" type="Wstring" use="required"/>
                                                <xs:attribute name="X2" type="Wstring" use="required"/>
                                                <xs:attribute name="Y2" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark2" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="BlkCodeScan">
                                            <xs:complexType>
                                                <xs:attribute name="X1" type="Wstring" use="required"/>
                                                <xs:attribute name="Y1" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark1" type="Wstring" use="required"/>
                                                <xs:attribute name="X2" type="Wstring" use="required"/>
                                                <xs:attribute name="Y2" type="Wstring" use="required"/>
                                                <xs:attribute name="Mark2" type="Wstring" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="No" type="Wstring" use="required"/>
                        <xs:attribute name="MachineType" type="Wstring" use="required"/>
                        <xs:attribute name="SubMachineType" type="Wstring" use="required"/>
                        <xs:attribute name="Version" type="Wstring" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Wstring">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>