src/main/java/com/editor/domain/database/database.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PartsDatabaseFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LastEditing">
                    <xs:complexType>
                        <xs:attribute name="Date" type="xs:string" use="required"/>
                        <xs:attribute name="Time" type="xs:time" use="required"/>
                        <xs:attribute name="VersionNo" type="xs:unsignedByte" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="Part">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Part_001">
                                <xs:complexType>
                                    <xs:attribute name="PartsName" type="xs:string" use="required"/>
                                    <xs:attribute name="Comment" type="xs:string" use="required"/>
                                    <xs:attribute name="DatabaseNo" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="LibraryUse" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="LibraryFolder" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="LibraryPath" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_002">
                                <xs:complexType>
                                    <xs:attribute name="ShapeType" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Package" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="FdrType" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_003">
                                <xs:complexType>
                                    <xs:attribute name="Setno" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Definition" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="XPos" type="xs:decimal" use="required"/>
                                    <xs:attribute name="YPos" type="xs:decimal" use="required"/>
                                    <xs:attribute name="FdrIdxStep" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Optimize" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="PartsGroupNo" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="FixCmp" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="SwFdr" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Part_012">
                                <xs:complexType>
                                    <xs:attribute name="BodyX" type="xs:decimal" use="required"/>
                                    <xs:attribute name="BodyY" type="xs:decimal" use="required"/>
                                    <xs:attribute name="BodyZ" type="xs:decimal" use="required"/>
                                    <xs:attribute name="MoldX" type="xs:decimal" use="required"/>
                                    <xs:attribute name="MoldY" type="xs:decimal" use="required"/>
                                    <xs:attribute name="MoldZ" type="xs:decimal" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Part_028">
                                <xs:complexType>
                                    <xs:attribute name="RlrOffsetE" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="RlrWidth" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="LeadNumE" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="LeadPitchE" type="xs:decimal" use="required"/>
                                    <xs:attribute name="LeadWidthE" type="xs:decimal" use="required"/>
                                    <xs:attribute name="LeadLengthE" type="xs:decimal" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Part_070">
                                <xs:complexType>
                                    <xs:attribute name="Alignment" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="AutoThreshold" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Threshold" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Tolerance" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="SearchArea" type="xs:decimal" use="required"/>
                                    <xs:attribute name="DatumAngle" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="MultiMACS" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Part_013">
                                <xs:complexType>
                                    <xs:attribute name="BodyX" type="xs:decimal" use="required"/>
                                    <xs:attribute name="BodyY" type="xs:decimal" use="required"/>
                                    <xs:attribute name="BodyZ" type="xs:decimal" use="required"/>
                                    <xs:attribute name="MoldX" type="xs:decimal" use="required"/>
                                    <xs:attribute name="MoldY" type="xs:decimal" use="required"/>
                                    <xs:attribute name="MoldZ" type="xs:decimal" use="required"/>
                                    <xs:attribute name="Thicknesschk" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Part_021">
                                <xs:complexType>
                                    <xs:attribute name="RlrOffset" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Part_071">
                                <xs:complexType>
                                    <xs:attribute name="Alignment" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="AutoThreshold" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Threshold" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Tolerance" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="SearchArea" type="xs:decimal" use="required"/>
                                    <xs:attribute name="DatumAngle" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="CompIntensity" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="MultiMACS" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_072">
                                <xs:complexType>
                                    <xs:attribute name="LightSetting" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="LightLevel" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_074">
                                <xs:complexType>
                                    <xs:attribute name="CoplaLevel" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="CoplaThreshold" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_076">
                                <xs:complexType>
                                    <xs:attribute name="LightMode" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="MainLightLevel" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="CoaxsLightLevel" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="SideLightLevel" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_310">
                                <xs:complexType>
                                    <xs:attribute name="DDDExecPass" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DDDThreNmlCam" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DDDThreSlantCam" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DDDLightCoaxNmlCam" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DDDLightCoaxSlantCam" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DDDLightMainSlantCam" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DDDLightSideSlantCam" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DDDBrightAreaNmlCam" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DDDBrightAreaSlantCam" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DDDPermitTol" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DDDHeightCheck" type="xs:decimal" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_080">
                                <xs:complexType>
                                    <xs:attribute name="Nozzle" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="XYSpeed" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="ConvYSpeed" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="FdrAngle" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="VacChk" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="CorrectPos" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Action" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="PickStart" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Dump" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Retry" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_081">
                                <xs:complexType>
                                    <xs:attribute name="PckHeight" type="xs:decimal" use="required"/>
                                    <xs:attribute name="PckTimer" type="xs:decimal" use="required"/>
                                    <xs:attribute name="PckSpeed" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="PckVLevel" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="PckSingleDir" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="PckCtrlDown" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="PckCtrlUp" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="NozzleTouchHeight" type="xs:decimal" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_083">
                                <xs:complexType>
                                    <xs:attribute name="MntHeight" type="xs:decimal" use="required"/>
                                    <xs:attribute name="MntTimer" type="xs:decimal" use="required"/>
                                    <xs:attribute name="MntSpeed" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="MntPLevel" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="MntSingleDir" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="MntCtrlDown" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="MntCtrlUp" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_300">
                                <xs:complexType>
                                    <xs:attribute name="Pck2ndSrvDown" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Pck2ndSrvUp" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_301">
                                <xs:complexType>
                                    <xs:attribute name="Mnt2ndSrvDown" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Mnt2ndSrvUp" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_302">
                                <xs:complexType>
                                    <xs:attribute name="PckForceExist" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="PckForceTarget" type="xs:decimal" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_303">
                                <xs:complexType>
                                    <xs:attribute name="MntForceExist" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="MntForceTarget" type="xs:decimal" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_200">
                                <xs:complexType>
                                    <xs:attribute name="DspCType" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DNozzle" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Dtimer" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DXpos" type="xs:decimal" use="required"/>
                                    <xs:attribute name="DYpos" type="xs:decimal" use="required"/>
                                    <xs:attribute name="DspAngle" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DXpt" type="xs:decimal" use="required"/>
                                    <xs:attribute name="DYpt" type="xs:decimal" use="required"/>
                                    <xs:attribute name="DXtime" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DYtime" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_500">
                                <xs:complexType>
                                    <xs:attribute name="Category" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="DipAct" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="StampAct" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Marking" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_501">
                                <xs:complexType>
                                    <xs:attribute name="Option1StationNo" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Option1WaitVision" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Option1DownSequenceAir" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Option12ndSrvDown" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Option1DownSpeed" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Option1LowendHeight" type="xs:decimal" use="required"/>
                                    <xs:attribute name="Option1LowendTimer" type="xs:decimal" use="required"/>
                                    <xs:attribute name="Option1UpSequenceAir" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Option12ndSrvUp" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Option1UpSpeed" type="xs:unsignedByte" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_502">
                                <xs:complexType>
                                    <xs:attribute name="Option1ForceExist" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="Option1ForceTarget" type="xs:decimal" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Part_520">
                                <xs:complexType>
                                    <xs:attribute name="SVUse" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="SVBringBack" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="SVBodyLimit" type="xs:decimal" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="No" type="xs:unsignedByte" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>