src/main/java/com/editor/domain/comparison/results.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Specifications">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Spec">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AddedParts">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Part">
                                            <xs:complexType>
                                                <xs:attribute name="Name" type="xs:string" use="required"/>
                                                <xs:attribute name="Pos" type="xs:unsignedByte" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Programs">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Program">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Parts">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs="0">
                                                                <xs:element maxOccurs="unbounded" name="Part">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="Name" type="xs:string"
                                                                                      use="required"/>
                                                                        <xs:attribute name="Pos" type="xs:string"
                                                                                      use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="RemovedParts"/>
                                                </xs:sequence>
                                                <xs:attribute name="Path" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Line" type="xs:unsignedByte" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>